.activity-mange > .content {
  width: 90%;
  margin: 0 auto;
}
.uptitle {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.miantitle > .left {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
}
.ban {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-around;
}
.input {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
  margin-left: 100px;
}
