.content {
  width: 90%;
  margin: 0 auto;
}
.add {
  display: flex;
  justify-content: space-between;
}
.xuanze {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bianhao0 {
  width: 80px;
}
.mingcheng3 {
  width: 150px;
}
.huodongshu {
  width: 60px;
}
.input {
  margin-top: 13px;
}
